html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    
}
body{
    margin: 0;
    padding: 0;
    max-width: 1438px;
    font-family: 'Open Sans', sans-serif;
}

.container{    
    max-width: 938px;
    margin: 0 auto;    
}

.header{
    background-image: url(img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.logo{
    padding-top: 35px;
}
.header__h1{    
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.709px;
}
.header__text__p{
    color: #FFF;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -5px;
    padding-bottom: 307px;
}
.nav__container{ 
    max-width: 940px;      
    display: flex;
    justify-content: space-between;
}
.nav__logo__black{
    padding-top: 8px;    
}
.nav__ul{
    display: flex;
    margin-top: 11px;
}
.nav__ul li{
    margin-left: 40px;
    list-style-type: none;
    text-transform: uppercase;
    color: #48555B;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.0402px;    
}



/* Раздел "Our Story" */
.story {
    padding: 3px 0;
}
.story_left {
    max-width: 398px;
    margin-right: 80px;
}
.story_title_2 {    
    letter-spacing: 2.6px;
    margin-left: 7px;
    color: #48555B;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 25px 0;
}
  .story_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
  }
  .story_inner {
    display: flex;
    justify-content: center;
  }
  .story_title_3 {
    color: #48555B;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: 0.088px;  
    line-height: 1.35;
  }
  .accent-color {
    color: #00A4E5;
  }
  .story_text {
    padding-top: 10px;
    line-height: 1.4;
  }
  .story_right {
    display: flex;    
    margin-top: 44px;
  }
  .story_item {
    padding: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
    
    background-size: cover;
  }
  .story_item:nth-child(1) {
    background-image: url(../img/we_plan.png);
  }
  .story_item:nth-child(2) {
    background-image: url(../img/we_manage.png);
  }
  .story_item:nth-child(3) {
    background-image: url(../img/we_build.png);
    margin-right: 0px;
  }
  




  /* Раздел "Our Capabilities" */
.capab{
    padding-top: 60px;      
}
.capab__container{
    display: flex;    
    justify-content: space-between;
}
.capab__title{
    max-width: 198px;
    letter-spacing: 2.2px;
    margin-left: 0;
    color: #48555B;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
}
.capab__title:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px 0;
}
.capab__text{
    max-width: 405px;
    color: #48555B;    
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 172.727% */
    letter-spacing: 0.15px;
    margin-left: 115px;
    padding-top: 10px;
}
.capab__btn{
  max-width: 150px;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  color: #FFF;
  background: #00A4E5;
  text-align: center;  
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
}



 /* Раздел "Services" */
.services__container{
  display: flex;
  justify-content: space-between;
}
.service{
  max-width: 295px;
  border: 1px solid #E6E6E6;
}
.service__img{
  padding-top: 87px;
  padding-left: 23px;
}
.service__h5{  
  padding-left: 22px;
  margin-top: 20px;
  color: #48555B;  
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.427px;
}
.service__h5__last{
  width: 250px;  
}
.service__text{
  padding-left: 22px;
  margin-top: -13px;
  color: #48555B;  
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
}


  /* Раздел "Get in touch" */
.getintouch{
  /* padding-top: 140px; */
  margin-top: 140px;
  background-image: url(img/getInTouch__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.getInTouch__title{
  padding-top: 120px;
  padding-bottom: 10px;
  color: #48555B;  
  width: 350px;
  margin: auto;  
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: 0.15px;
}
.getInTouch__btn{  
  max-width: 150px;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  color: #FFF;
  background: #00A4E5;
  text-align: center;  
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 230px;
}


.newsletter{
  background: #171819;  
  display: flex;
  justify-content: center;
}
.newsletter__title{
  padding-top: 14px;
  padding-right: 70px;
  color: #FFF;
  text-align: center;  
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.846px;
}
.newsletter__input{
  margin-top: 30px;
  padding-left: 17px;
  width: 250px;
  height: 40px;
  border: 1px solid #979797;
  background: #FFF;
}
.newsletter__btn{
  margin-top: 30px;
  width: 150px;
  height: 40px;
  background: #00A4E5;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}

.footer{
  background: #171819; 
}
.footer__container{
  padding-top: 38px;
  display: flex;
  color: #FFF;   
}
.footer__box__title{
  color: #FFF;
  padding-top: 5px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
}
.footer__box__img{
  padding-top: 7px;  
}
.footer__box__text{
  flex-shrink: 0;
  width: 250px;  
  margin-top: 12px;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 172.727% */
  letter-spacing: 0.85px;
}
.footer ul li{
  list-style: none;
  text-transform: uppercase;
  /* padding-left: 10px; */
}
.footer__box__title2{
  padding-left: 30px;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
}

.footer__box__text2{
  color: #FFF;
  padding-left: 30px;
  padding-top: 16px;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 9px; /* 227.273% */
  letter-spacing: 0.846px;
}

.footer__box3{  
  height: 73px;
}
.footer__box__text3_1{  
  color: #FFF;
  margin-left: -8px;
  padding-top: 29px;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.846px;
}
.footer__box__text3_2{  
  color: #FFF;
  margin-left: -8px;
  padding-top: 12px;  
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.846px;
}
.footer__box__text3_3{  
  color: #FFF;
  margin-left: -8px;
  padding-top: 8px;  
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.846px;
}



.footer__box4{
  height: 73px;
}
.footer__box__text4_1{  
  color: #FFF;
  padding-top: 30px;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.846px;
}
.footer__box__text4_2{  
  color: #FFF;
  padding-top: 8px;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.846px;
}
.footer__box__text4_3{  
  color: #FFF;
  padding-top: 11px;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.846px;
}
.footer__box5{
  padding-left: 60px;
  
}
.footer__box5__tittle{
  padding-top: 5px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
}
.footer__box5__text{
  padding-top: 5px;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: 0.846px;
}

.footer__box6__icons{
  width: 88px;
  height: 13px;
  padding-top: 40px;
  margin-left: 77px;
}
.icon__twitter, .icon__google{
  margin-left: 13px;
}
.footer__bottom{
  text-align: center;  
}
.footer__bottom p{
  padding-top: 39px;
  padding-bottom: 23px;
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.846px;
}